<?xml version="1.0" encoding="UTF-8"?>
<suite name="Regression Test" thread-count="3" parallel="tests" verbose="1">
	<test name="Google Test">
		<parameter name="url" value="https://www.google.com"></parameter>
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="MyTests.Class21.GoogleTest"></class>
		</classes>
	</test>

	<test name="OpenCartTest">
		<parameter name="url" value="http://opencart.antropy.co.uk/index.php?route=account/login"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="MyTests.Class21.OpenCartTest"></class>
		</classes>
	</test>

	<test name="OrangeHRMTest">
		<parameter name="url" value="https://www.orangehrm.com/orangehrm-30-day-trial/"></parameter>
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="MyTests.Class21.OrangeHRMTest"></class>
		</classes>
	</test>
</suite>